input[type="range"] {
    appearance: slider-vertical;
}

.on {
    background-color: green;
}

#drum_rack {
    margin-bottom: 20px;
    padding: 25px 25px 25px 25px;
    background-color: antiquewhite;
}

#bass_rack {
    margin-bottom: 20px;
    padding: 25px 25px 25px 25px;
    background-color: plum;
}

#chord_rack {
    margin-bottom: 20px;
    padding: 25px 25px 25px 25px;
    background-color: coral;
}
