input[type="range"] {
    appearance: slider-vertical;
}

.on {
    background-color: green;
}

#drum_rack {
    margin-bottom: 20px;
}

#bass_rack {
    margin-bottom: 20px;
}

#chord_rack {
    margin-bottom: 20px;
}
